.modal-dialog
  .modal-content
    .modal-header
      button.close(type='button', name='back'): i.fa.fa-arrow-left
      .modal-title: .nav
        label.close
          //- input(type='checkbox' name='star')
          <input type='checkbox' name='star' {= if ( favorite == true ) }} checked {= }} />
          span
        button.close(type='button' name='edit'):   span: i.fa.fa-pencil
        button.close(type='button' name='delete'): span: i.fa.fa-trash

    .modal-body
      .row(style="background-color: {{ color }}; position: relative")
        .col-xs-push-5.col-xs-7.modal-header.name.
          {{ name }} {{ surname }} {{ patronymic }}
          <span>{{ nickname }}</span>
        .image-contact(class='{{ avatar }}')

      | {= if ( phones ) { }}
      .col-xs-12.modal-header Телефон
      | {= _(phones).each(function (item) { }}
      a.input-group(href="tel:{{ item }}")
        span.input-group-addon: i.fa.fa-phone-square.fa-fw
        p.form-control-static {{ item }}
      | {=  })} }}

      | {= if ( emails ) { }}
      .col-xs-12.modal-header Эл. почта
      | {= _(emails).each(function (item) { }}
      a.input-group(href="mailto:{{ item }}")
        span.input-group-addon: i.fa.fa-envelope.fa-fw
        p.form-control-static {{ item }}
      | {=  })} }}

      | {= if ( location.length ) { }}
      .col-xs-12.modal-header Адрес
      - var href = 'http://maps.google.com?q={{ location }}'
      a.input-group(href=href target='_blank')
        span.input-group-addon: i.fa.fa-map-marker.fa-fw
        p.form-control-static {{ location }}
      | {=  } }}

      | {= if ( date ) { }}
      .col-xs-12.modal-header Дата
      .input-group
        span.input-group-addon: i.fa.fa-calendar.fa-fw
        p.form-control-static {{ date }}
      | {=  } }}

      .col-xs-12.modal-header Группа
      a.input-group(href='/group')
        span.input-group-addon: i.fa.fa-users.fa-fw
        p.form-control-static
          | {= _(groups).each(function (item) { }}
          span.label.label-success {{ item }}
          | &nbsp;
          | {=  }) }}
